.SelectOrderContainer {
    display: flex;
    flex-direction: row;
    gap: .5em;
    justify-content:right;
    font-size: .8em;
    height: min-content;
    color: #222
  }
 
  .SelectOrderContainer h5{
    font-size: 1em;
    text-align: right;
  }
  