.SelectOrderContainer {
    display: flex;
    flex-direction: row;
    gap: .5em;
    justify-content:right;
    font-size: .8em;
    height: min-content;
    color: #222
  }
  .SelectOrderContainer select{
    height: min-content;
    padding: .3em;
    background-color: #fcf6e9;

  }.SelectOrderContainer h5{
    font-size: 1em;
    text-align: right;
  }
  
  .select option {
    background-color: #f9eed6; 
    border: 1px solid #000000; 
    color: #000000;  
    cursor: pointer;
    border-radius: 0;
  }  .select option:hover{
    background-color: #f9eed6; 
    cursor: pointer;
  }