.Hero1Container{
    height: auto;
    width: 100%;
    margin: 0 auto;
}
.HeroCaption{
    display: flex;
    flex-direction: column;
    gap: 2em
}
.imgHero1{
    object-fit: contain;
    object-position: center;
    margin: 0 auto;
    width: 100%;
}

.hero12{
    position: absolute;
    top: 80%;

}


@media (max-width: 1200px ){
    
    .hero3{
        top: 300px;
        margin-left: 43%;
    }
    .hero12{
        top: 350px;
    }
}
@media (max-width: 1000px ){
    .hero3{
        top: 200px;
    }
    .hero12{
        top: 270px;
    }
    
}
@media (max-width: 720px ){
    .hero3{
        top: 80px;
    }
    .hero12{
        top: 170px;
    }
}
@media screen and (max-width: 550px) {
   
    .hero12{
        top: 150px;
    }
    
    
}@media screen and (max-width: 400px) {
    .hero12{
        top: 125px;
    }
    
    
}
@media screen and (max-width: 768px){
    .carousel.slide > div.carousel-indicators{
        display: none;
    }
}

