.addtoCart{
    width: auto;
    height: 30px;
    white-space: nowrap;
    background-color: #000; 
    border: none;
    font-size: .8em;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #fff;
    
    }
.addtoCart:hover{ 
    background-color: #59059a;;
    scale: 1.1;
    transition: 0.3s; 
   }
@media (max-width: 700px ){
    .addtoCart{
        font-size: 1em;
        height: auto;
        width: 130px;
        }

   }

@media screen and (max-width: 568px) {
    .addtoCart{
        font-size: .7em;
        height: auto;
        width: 140px;
        }
    }
    
