/* .select {
    display: flex;
  }
  
  .select select {
    background-color: transparent; 
    border: 1px solid #222; 
    padding: 0.25rem; 
    cursor: pointer;
    border-radius: 5px;
  }
  

 
  .select option {
    background-color: #e4e4e4; 
    border: 1px solid #212121; 
    color: #212121;  
    cursor: pointer;
    border-radius: 0;
  }  .select option:hover{
    background-color: #a9a9a9; 
    cursor: pointer;
  }
  .select{
    background-color: #e4e4e4;
    color: #212121;
    box-shadow: none;
    border-radius: .5em;
    padding: .5em;
  } */