.App{
  margin: 0 auto;
  padding: 0;
  font-family: 'Merriweather', serif;
  background-color: primary;
  background-color: linen;
}

.contain{
  margin-top: 4.9em;
  background-color: linen;
  color: #000
}