.graciaContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;
    color: linen;
}.graciaContainer h1{
    font-size: 3em;
    font-weight: 600 ;
}
@media screen and (max-width: 768px){
    .graciaContainer{
        padding: 0 10px;
        height: 90vh;
    }
    .graciaContainer h1{
        font-size: 2em;
    }
    .graciaContainer h2{
        font-size: 1.5em;
    }
    
}@media screen and (max-width: 568px){
    .graciaContainer{
        padding: 0 10px;
        height: 80vh;
    }
    .graciaContainer h1{
        font-size: 1.5em;
    }
    .graciaContainer h2{
        font-size: 1em;
    }
    
}