
.navBar{
    background-color:linen;
    margin: 0;
    border-bottom: solid 1px #000;
}
.mobileContainerNav .title{
    font-size: 1.6em;
}
.navLinks{
    display: flex;
    gap: 20px;
}

.isActive {
    color: #33005a;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
}
.desactive{
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
}.navLinks a:hover{
    scale: 1.1;
    transition: .3s;
    border: none;
    color: #000
}.sape{
    border: none;

}
.mobileContainerNavRight{
    display: none;

}#basic-navbar-nav{
    border: none;
}
.mobileContainerNavRight button{
    border: none;
}
.mobileContainerNavRight button:active{
    box-shadow: none;
}
.mobileContainerNav img{
    margin-right: 1em;
}
.desktopContainerNavRight{
    margin-top: 1em;
}


@media (max-width: 1200px){
.mobileContainerNav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }.mobileContainerNavRight{
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .desktopContainerNavRight{
        display: none;
    }
    .navLinks a{
        margin: 0 auto;
    }

}




